<a href="https://colab.research.google.com/github/jenaroolmos/curso/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = []
for x in range(100):
  if x%2 == 0:
    a.append(x)
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

Actividad
Index
count
remove

In [6]:
lista_numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
elemento = 5
lista_numeros.index(elemento)

4

index() devuelve el índice más bajo de la lista en el que aparece el elemento

In [ ]:
count envía el numero de elementos en una lista.

In [14]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,]

elementos=lista.count(5)
print(elementos)

1

El número de elementos repetidos en la lista

In [15]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros=lista.remove(5)
print(lista)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

 remove() suprime unicamente el elementos correspondiente.